* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(black, rgba(0,0,0,0.7));
}
h1 {
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}
p {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 10px;
}
.header__p {
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 50px 0px;
}
.calculator {
    border : 1px solid black;
    width: 350px;
    background-color: white;

    margin: 0 auto;
}
.calculator__screen {
    background-color: #33373d;
    height: 100%;
    width: 100%;
}
.calculator__print {
    color: white;
    text-align: right;
    padding: 10px;
}
.calculator__numbers {
    width: 75%;
    margin-left: 5px;
    position: relative;
}
.numbers {
    width: 25%;
}

.calculator__btn {
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    background-color: white;
    width: 27%;
}
.ac {
    padding: 10px 7px;
    color: white;
    background-color: #de7373;
    width: 27%;
    border-radius:5px;
}
.operand {
    color: #4f8be3;
    margin-top: 10px;
    width: 20%;
}
.operands {
    display: flex;
    justify-content: space-around;
}
.equal{
    color: white;
    background-color: #5e8de6;
    border-radius: 5px;
    padding : 95px 10px;
    width: 25%;
    position: absolute;
    top: 0.1%;
    left: 100%;
}


